.ledearboard{
  width: 500px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 35px;
}
.table{
  &__th{
    &_middle{
      text-align: center!important;
    }
    &_left{
      text-align: left!important;
    }
    &_right{
      text-align: right!important;
    }
  }
  &__tr:hover {
    background: rgba(255, 255, 255, 0.298039);
    cursor: pointer;
  }
  &__preloader{
    margin: auto;
    margin-top: 25px;
    text-align: center;
  }
}