.signin{
  margin: auto;
  width: 308px;
  &__wrapper{
    display: flex;
    height: 100vh;
    min-height: 500px;
  }
  &__form{
    padding: 15px;
    padding-top: 0;
    margin-top: 18px;
    &__error{
      color: rgb(244, 67, 54);
      padding: 15px;
      display: block;
      text-align: center;
      margin-top: 15px;
    }
  }
  &__title{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    display: block;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  &__link{
    margin-top: 18px;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    &__a{
      color: rgb(255, 64, 129);
      text-decoration: none;
    }
    &__a:hover{
      text-decoration: underline;
    }
  }
}