.main{
  margin: auto;
  width: 308px;

  &__wrapper{
    display: flex;
    height: 100vh;
    min-height: 400px;
  }
  &__form{
    padding: 15px;
    padding-top: 0;
    margin-top: 18px;
  }
  &__title{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    display: block;
    color: #fff;
    margin-bottom: 40px;
  }
  &__button{
    margin-top: 15px;
  }
  &__link{
    display: block;
  }
  &__message{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    display: block;
    color: #fff;
    padding: 15px;
  }
}